body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
  }
.preloader img {
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
}

.navBar {
    display: flex;
    align-items: center;
    transition: all .5s ease;
}
header {
    display: inline-block;
    padding: 15px;
}
.navigation {
    display: inline-block;
    color: #275460;
}
.about {
    display: inline-block;
    color: #275460;
}
.about:hover {
    display: inline-block;
    background-color: pink;
    color: white;
}
.projects {
    display: inline-block;
    color: #275460;
}
.projects:hover {
    display: inline-block;
    background-color: pink;
    color: white;
}
.fun {
    display: inline-block;
    color: #275460;
}
.fun:hover {
    display: inline-block;
    background-color: pink;
    color: white;
}
.connect {
    display: inline-block;
    color: #275460;
}
.connect:hover {
    display: inline-block;
    background-color: pink;
    color: white;
}
header li {
    display: inline-block;
    padding: 0px 5px;
}

header p {
    display: inline-block;
}

.heroImg {
    background-color: #EBEBEB;
    padding: 100px 15px;

}
.content {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}
.heroBanner{
    height:361.5px;
}
.heroBanner img{
    width: 100%;
}
button {
    padding: 15px;
    background-color: #a26b59;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    height: 70px;
    width: 100px;
    font-family: 'Varela Round', sans-serif;
}
button:hover {
    padding: 15px;
    background-color: #eac0b0;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    height: 70px;
    width: 100px;
    font-family: 'Varela Round', sans-serif;
}
a {
    color: white;
}
#resumeButton {
    padding: 15px;
    background-color: #a26b59;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    height: 70px;
    width: 100px;
    font-family: 'Varela Round', sans-serif;
}
#resumeButton:hover {
    padding: 15px;
    background-color: #eac0b0;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    height: 70px;
    width: 100px;
    font-family: 'Varela Round', sans-serif;
  
}

footer {
    align-items: center;
    padding: 5px;
    text-align: center;
}
footer ul {
    background-color: white;
    color: #275460;
    list-style: none;
    padding-left: 5px;
    text-align: center;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
    text-align: center;
}
h1 {
    color: #a26b59;
    padding: 5px; 
}
.gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "topLeft topRight" 
    "bottomLeft bottomRight";
    color: white;
    padding: 9px;
    margin: 0 auto;
    background-color: #e0baa8;
}
.topLeft {
    grid-area: topLeft;
}
.topRight {
    grid-area: topRight;
    display:grid;
    justify-content: center;
}

.topRight img{
    background-image: url(../images/about_doodle.png);
    
}
.topRight img:hover {
    background-image: url(../images/about_nondoodle.jpeg);   
    
}
.bottomLeft {
    grid-area: bottomLeft;
}
.bottomRight {
    grid-area: bottomRight;
}

.myWork {
    display: flex;
    flex-direction: column;
}
    
.workGrid {
    display: flex;
    flex-direction: column;
    column-count: 3;
    justify-content: space-between;
    background-color: #eac0b0;
    color: white;
    padding: 9px;
}

.fitWell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    padding: 9px;
   
}

.doiRedesign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 150px;
    margin-top: -30px;
    padding: 15px;
    
}

.allProjects {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 10px;
}


@media (min-width: 300px) and (max-width: 600px){

    .navigation {
        display: none;
    }
    .content img {
        width: 80%;
        padding: 0px 20%;
    }
   
        .gridContainer {
            grid-template-columns: 1fr;
            grid-template-areas:
                 "topLeft"
                 "topRight"
                 "bottomLeft"
                 "bottomRight";
                 padding: 0 15px;
         }

         .workGrid {
            grid-template-columns: 1fr;
            grid-template-areas:
                 "fitWell"
                 "doiRedesign";
                 padding: 0 25px;
         }

   /*      
    .workGrid {
        display: flex;
        justify-content: center;
        text-align: center;
        width: min-content;
        margin: 0 auto;
        grid-template-rows: 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
          "fitWell"
          "doiRedesign";
      
    }

  /*  
    .gridContainer {
        display: flex;
        flex-direction: column;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            ".topRight"
            ".topLeft"
            ".bottomRight"
            ".bottomLeft"
    ;
    }

.mySkills {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    background-color: teal;
    color: white;   
}

.aboutGrid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    background-color: thistle;
 
}

.skillsContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin: 10px;
    background-color: tomato;
}
.currentlyContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin: 10px;
    background-color: lightskyblue;
}